packrat/lib*/
\#*\#
*~
*.d
*.rc
*.o
*.so
.Rproj.user
local/
blp/
inst/include/
src/Makevars
.Rhistory
packrat/init.R
packrat/lib-ext
packrat/lib-R
packrat/packrat.lock
packrat/packrat.opts
packrat/src
